/* SUMMARY


-KEYFRAMES
=> Rotations
=> Fade ins
=> Floating effects

-FLOWERS
=> Flowers rotation
=> Flower HTML resizing

-HEADER
=> Banner
=> Logo
=> Video

-OTHERS

-FOOTER
=>Oscars

*/

// KEYFRAMES

// Rotations

@keyframes flower-rotation {
  0% { 
    transform: rotate(0); 
  }
  100% { 
    transform: rotate(360deg);
  }
}

// Fade ins

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translate3d(0, -20%, 0);
  }
  100% {
     opacity: 1;
     transform: translate3d(0, 0, 0);
  }
 } 

 @keyframes fadeInUp {
  0% {
     opacity: 0;
     transform: translate3d(0, 80%, 0);
  }
  100% {
     opacity: 1;
     transform: translate3d(0, 0, 0);
  }
 } 

 @keyframes fadeInStory {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
 }
 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
 }
 }

 // Floating effects

 @keyframes floating-logo {
  0% {
    transform: translate3d(0, 0, 0);
 }
 50% {
    transform: translate3d(0, -5%, 0);
 }
 100% {
    transform: translate3d(0, 0, 0);
 }
}


// FLOWERS

//Flower rotation

.story h2::after, .story__article::after {
  animation: flower-rotation 20s linear infinite;
}
  
#studio h2 {
  &::before, &::after {
    animation: flower-rotation 20s linear infinite;
  }
}

.site-footer {
  ul {
    &::after {
      animation: flower-rotation 20s linear infinite;
    }
  }
}
  
/* .site-footer {
  &::before, &::after {
    animation: flower-rotation 20s linear infinite;
  }
} */


// Flower HTML resizing

.story{
  h2{
    &::after {
        height: 155px;
    }
  }

  &__article {
    &::after {
        height: 188px;
    }
  }
}

#studio{
  h2{
    &::before {
        height: 203px;
    }   

    &::after {
        height: 109px;
    }
    }
}

.site-footer {
  ul {
    &::after {
      height: 646px;
    }
  }
}

/* .site-footer{
  &::before {
        height: 155px;
    }
  &::after {
        height: 173px;
  }
} */

// HEADER

// Banner

.banner{
  animation: fadeInDown 1s;
}

// Logo

#logo{
  position: sticky;
  animation: fadeInUp 1s, floating-logo 6s ease-in-out 1s infinite;
}

// Video

#header_video{
	position: absolute;
  @media (max-width: 768px) {
      display: none;
    }
}

// OTHERS

/* .story{
  animation: fadeInStory 1s;
}

#studio{
  animation: fadeInUp 1s;
}

.site-footer{
  animation: fadeInUp 1s;
} */



// FOOTER avec section Oscars

.site-footer{
  &::before, &::after{
    display: none;
  }
}

/*

.site-footer::before {
  top: 1em;
}

.site-footer::after{
	bottom: 46em;
}

.site-footer ul::after{
	bottom: -30.5em;
}

.site-footer{
	display: block;
  padding-top: 13em;
  margin-bottom:0;
  padding-bottom: 40px;

}

.site-footer ul{
	margin-top : 280px;
}

// Oscars Section

.oscars{
  display: flex;
  justify-content: center;

  h3{
    padding: 80px 80px;
    background-size: 800px 300px;
    background-image: url("../images/Rectangle_23.png");
    line-height: normal;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  }

  img{
    object-fit: contain;
    margin-left: -48px;
  }
}

*/

