/* SUMMARY


-KEYFRAMES
=> Rotations
=> Fade ins
=> Floating effects

-FLOWERS
=> Flowers rotation
=> Flower HTML resizing

-HEADER
=> Banner
=> Logo
=> Video

-OTHERS

-OSCARS SECTION

-FOOTER

*/
@keyframes flower-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 80%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInStory {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes floating-logo {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -5%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.story h2::after, .story__article::after {
  animation: flower-rotation 20s linear infinite;
}

#studio h2::before, #studio h2::after {
  animation: flower-rotation 20s linear infinite;
}

.site-footer ul::after {
  animation: flower-rotation 20s linear infinite;
}

.oscars::before, .oscars::after {
  animation: flower-rotation 20s linear infinite;
}

.story h2::after {
  height: 155px;
}
.story__article::after {
  height: 188px;
}

#studio h2::before {
  height: 203px;
}
#studio h2::after {
  height: 109px;
}

.site-footer ul::after {
  height: 646px;
}

.oscars::before {
  height: 155px;
}
.oscars::after {
  height: 173px;
}

.banner {
  animation: fadeInDown 1s;
}

#logo {
  position: sticky;
  animation: fadeInUp 1s, floating-logo 6s ease-in-out 1s infinite;
}

#header_video {
  position: absolute;
}
@media (max-width: 768px) {
  #header_video {
    display: none;
  }
}

/* .story{
  animation: fadeInStory 1s;
}

#studio{
  animation: fadeInUp 1s;
}

.site-footer{
  animation: fadeInUp 1s;
} */
.oscars {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10em;
}
@media (max-width: 1192px) {
  .oscars {
    flex-direction: column;
    align-items: center;
  }
}
.oscars h3 {
  padding: 80px 80px;
  background-image: url("../images/Rectangle_23.png");
  line-height: normal;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1192px) {
  .oscars h3 {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .oscars h3 {
    padding: 70px 70px;
  }
}
.oscars h3 span {
  display: inline-block;
  width: 668px;
}
@media (max-width: 1192px) {
  .oscars h3 span {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .oscars h3 span {
    width: 320px;
    font-size: 1.5rem;
  }
}
.oscars img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: -48px;
  width: 278px;
}
.oscars::before {
  content: url("../images/Sunflower.png");
  position: absolute;
  left: 4em;
  top: 0em;
}
.oscars::after {
  content: url("../images/orchid.png");
  position: absolute;
  right: -4em;
  bottom: 25em;
}

.story #characters {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1192px) {
  .story #characters h3 {
    align-self: center;
  }
}
.story #characters .mySwiper {
  align-self: center;
}
.story #characters .mySwiper .swiper {
  width: 2000px;
  height: 500px;
}

.site-footer::before, .site-footer::after {
  display: none;
}/*# sourceMappingURL=theme.css.map */