// Flowers Rotation

@keyframes flower-rotation {
    from { 
      transform: rotate(0); 
    }
    to { 
      transform: rotate(360deg);
    }
  }

.story h2::after, .story__article::after{
        animation: flower-rotation 20s linear infinite;
}


// Flower HTML resizing

.story{
  h2{
    &::after {
        height: 155px;
    }
  }

  &__article {
    &::after {
        height: 188px;
    }
  }
}