// FLOWERS

//Flower rotation

@keyframes flower-rotation {
  0% { 
    transform: rotate(0); 
  }
  100% { 
    transform: rotate(360deg);
  }
}

.story h2::after, .story__article::after {
  animation: flower-rotation 20s linear infinite;
}
  
#studio h2 {
  &::before, &::after {
    animation: flower-rotation 20s linear infinite;
  }
}
  
.site-footer {
  &::before, &::after {
    animation: flower-rotation 20s linear infinite;
  }
}


// Flower HTML resizing

.story{
  h2{
    &::after {
        height: 155px;
    }
  }

  &__article {
    &::after {
        height: 188px;
    }
  }
}

#studio{
  h2{
    &::before {
        height: 203px;
    }   

    &::after {
        height: 109px;
    }
    }
}

.site-footer{
  &::before {
        height: 155px;
    }
  &::after {
        height: 173px;
  }
}

// FADE INS

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20%);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
 } 

 @keyframes fadeInUp {
  0% {
     opacity: 0;
     transform: translate3d(0, 80%, 0);
  }
  100% {
     opacity: 1;
     transform: translate3d(0, 0, 0);
  }
 } 

 @keyframes fadeInStory {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
 }
 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
 }
 }

// Fade in Hero header

// Down

.banner{
  animation: fadeInDown 1s;
}

// Up

#logo{
  animation: fadeInUp 1s;
}

/* .story{
  animation: fadeInStory 1s;
}

#studio{
  animation: fadeInUp 1s;
}

.site-footer{
  animation: fadeInUp 1s;
} */